
session_name: c{{CLS}}
windows:
  - window_name: orch
    panes:
    - shell_command:
       - ssh -o StrictHostKeyChecking=no -o Compression=yes -o ControlMaster=no tetter@orch-{{BARE}}.tetrationanalytics.com
       - sudo su - tetinstall
       - ''
  - window_name: Mongos
    panes:
    - shell_command:
       - ssh -o StrictHostKeyChecking=no -o Compression=yes -o ControlMaster=no tetter@orch-{{BARE}}.tetrationanalytics.com
       - sudo su - tetinstall    
       - ssh -o StrictHostKeyChecking=no -o Compression=yes mongodb-1
       - mongo
       - use tetration_production
       - ''       
    - shell_command:
       - ssh -o StrictHostKeyChecking=no -o Compression=yes -o ControlMaster=no tetter@orch-{{BARE}}.tetrationanalytics.com
       - sudo su - tetinstall    
       - ssh -o StrictHostKeyChecking=no -o Compression=yes mongodb-2
       - mongo
       - use tetration_production
       - ''       

  - window_name: Coordinator
    panes:
    - shell_command:
       - ssh -o StrictHostKeyChecking=no -o Compression=yes -o ControlMaster=no tetter@orch-{{BARE}}.tetrationanalytics.com
       - sudo su - tetinstall    
       - ssh -o StrictHostKeyChecking=no -o Compression=yes enforcementcoordinator-1
       - cd /local/logs/tetration/enforcement_coordinator
    - shell_command:
       - ssh -o StrictHostKeyChecking=no -o Compression=yes -o ControlMaster=no tetter@orch-{{BARE}}.tetrationanalytics.com
       - sudo su - tetinstall    
       - ssh -o StrictHostKeyChecking=no -o Compression=yes enforcementcoordinator-2
       - cd /local/logs/tetration/enforcement_coordinator
    - shell_command:
       - ssh -o StrictHostKeyChecking=no -o Compression=yes -o ControlMaster=no tetter@orch-{{BARE}}.tetrationanalytics.com
       - sudo su - tetinstall    
       - ssh -o StrictHostKeyChecking=no -o Compression=yes enforcementcoordinator-3
       - cd /local/logs/tetration/enforcement_coordinator

  - window_name: Policystore
    panes:
    - shell_command:
       - ssh -o StrictHostKeyChecking=no -o Compression=yes -o ControlMaster=no tetter@orch-{{BARE}}.tetrationanalytics.com
       - sudo su - tetinstall    
       - ssh -o StrictHostKeyChecking=no -o Compression=yes enforcementpolicystore-1
       - mongo
       - use enforcement
       - ''
    - shell_command:
       - ssh -o StrictHostKeyChecking=no -o Compression=yes -o ControlMaster=no tetter@orch-{{BARE}}.tetrationanalytics.com
       - sudo su - tetinstall    
       - ssh -o StrictHostKeyChecking=no -o Compression=yes enforcementpolicystore-2
       - mongo
       - use enforcement
       - ''
    - shell_command:
       - ssh -o StrictHostKeyChecking=no -o Compression=yes -o ControlMaster=no tetter@orch-{{BARE}}.tetrationanalytics.com
       - sudo su - tetinstall    
       - ssh -o StrictHostKeyChecking=no -o Compression=yes enforcementpolicystore-3
       - mongo
       - use enforcement
       - ''

  - window_name: collectors
    panes:
    - shell_command:
       - ssh -o StrictHostKeyChecking=no -o Compression=yes -o ControlMaster=no tetter@orch-{{BARE}}.tetrationanalytics.com
       - sudo su - tetinstall    
       - ssh -o StrictHostKeyChecking=no -o Compression=yes collectordatamover-1
       - iostat
    - shell_command:
       - ssh -o StrictHostKeyChecking=no -o Compression=yes -o ControlMaster=no tetter@orch-{{BARE}}.tetrationanalytics.com
       - sudo su - tetinstall    
       - ssh -o StrictHostKeyChecking=no -o Compression=yes collectordatamover-2
       - iostat
    - shell_command:
       - ssh -o StrictHostKeyChecking=no -o Compression=yes -o ControlMaster=no tetter@orch-{{BARE}}.tetrationanalytics.com
       - sudo su - tetinstall    
       - ssh -o StrictHostKeyChecking=no -o Compression=yes collectordatamover-3
       - iostat
    - shell_command:
       - ssh -o StrictHostKeyChecking=no -o Compression=yes -o ControlMaster=no tetter@orch-{{BARE}}.tetrationanalytics.com
       - sudo su - tetinstall    
       - ssh -o StrictHostKeyChecking=no -o Compression=yes collectordatamover-4
       - iostat

  - window_name: zookeepers
    panes:
    - shell_command:
       - ssh -o StrictHostKeyChecking=no -o Compression=yes -o ControlMaster=no tetter@orch-{{BARE}}.tetrationanalytics.com
       - sudo su - tetinstall    
       - ssh -o StrictHostKeyChecking=no -o Compression=yes zookeeper-1
       - sleep 1
       - /usr/lib/zookeeper/bin/zkCli.sh || /usr/lib/zookeeper/bin/zkCli.sh
       - ''
    - shell_command:
       - ssh -o StrictHostKeyChecking=no -o Compression=yes -o ControlMaster=no tetter@orch-{{BARE}}.tetrationanalytics.com
       - sudo su - tetinstall    
       - ssh -o StrictHostKeyChecking=no -o Compression=yes zookeeper-2
       - sleep 2
       - /usr/lib/zookeeper/bin/zkCli.sh || /usr/lib/zookeeper/bin/zkCli.sh
       - ''
    - shell_command:
       - ssh -o StrictHostKeyChecking=no -o Compression=yes -o ControlMaster=no tetter@orch-{{BARE}}.tetrationanalytics.com
       - sudo su - tetinstall    
       - ssh -o StrictHostKeyChecking=no -o Compression=yes zookeeper-3
       - sleep 3
       - /usr/lib/zookeeper/bin/zkCli.sh || /usr/lib/zookeeper/bin/zkCli.sh
       - ''

  - window_name: appservers
    panes:
    - shell_command:
       - ssh -o StrictHostKeyChecking=no -o Compression=yes -o ControlMaster=no tetter@orch-{{BARE}}.tetrationanalytics.com
       - sudo su - tetinstall    
       - ssh -o StrictHostKeyChecking=no -o Compression=yes appserver-1
       - cd /local/logs/tetration/tim
    - shell_command:
       - ssh -o StrictHostKeyChecking=no -o Compression=yes -o ControlMaster=no tetter@orch-{{BARE}}.tetrationanalytics.com
       - sudo su - tetinstall    
       - ssh -o StrictHostKeyChecking=no -o Compression=yes appserver-2
       - cd /local/logs/tetration/tim

  - window_name: launcherHost
    panes:
    - shell_command:
       - ssh -o StrictHostKeyChecking=no -o Compression=yes -o ControlMaster=no tetter@orch-{{BARE}}.tetrationanalytics.com
       - sudo su - tetinstall    
       - ssh -o StrictHostKeyChecking=no -o Compression=yes launcherhost-1
       - ''
    - shell_command:
       - ssh -o StrictHostKeyChecking=no -o Compression=yes -o ControlMaster=no tetter@orch-{{BARE}}.tetrationanalytics.com
       - sudo su - tetinstall    
       - ssh -o StrictHostKeyChecking=no -o Compression=yes launcherhost-2
       - ''
    - shell_command:
       - ssh -o StrictHostKeyChecking=no -o Compression=yes -o ControlMaster=no tetter@orch-{{BARE}}.tetrationanalytics.com
       - sudo su - tetinstall    
       - ssh -o StrictHostKeyChecking=no -o Compression=yes launcherhost-3
       - ''

  - window_name: happobats
    panes:
    - shell_command:
       - ssh -o StrictHostKeyChecking=no -o Compression=yes -o ControlMaster=no tetter@orch-{{BARE}}.tetrationanalytics.com
       - sudo su - tetinstall    
       - ssh -o StrictHostKeyChecking=no -o Compression=yes happobat-1
       - ''
    - shell_command:
       - ssh -o StrictHostKeyChecking=no -o Compression=yes -o ControlMaster=no tetter@orch-{{BARE}}.tetrationanalytics.com
       - sudo su - tetinstall    
       - ssh -o StrictHostKeyChecking=no -o Compression=yes happobat-2
       - ''

  - window_name: DruidCoord
    panes:
    - shell_command:
       - ssh -o StrictHostKeyChecking=no -o Compression=yes -o ControlMaster=no tetter@orch-{{BARE}}.tetrationanalytics.com
       - sudo su - tetinstall    
       - ssh -o StrictHostKeyChecking=no -o Compression=yes druidcoordinator-1
       - ''       
    - shell_command:
       - ssh -o StrictHostKeyChecking=no -o Compression=yes -o ControlMaster=no tetter@orch-{{BARE}}.tetrationanalytics.com
       - sudo su - tetinstall    
       - ssh -o StrictHostKeyChecking=no -o Compression=yes druidcoordinator-2
       - ''       

