
session_name: c{{CLS}}
options:
        mouse: on
        visual-bell: off
        bell-action: none
        monitor-activity: off
windows:
  - window_name: orch
    panes:
    - shell_command:
       - ssh -o StrictHostKeyChecking=no -o Compression=yes -o PreferredAuthentications=publickey -o ControlMaster=yes tetter@orch-{{CLS}}.tetrationanalytics.com
       - sudo su - tetinstall
       - ''
    - shell_command:
       - ssh -o StrictHostKeyChecking=no -o Compression=yes -o PreferredAuthentications=publickey -o ControlMaster=yes tetter@orch-{{CLS}}.tetrationanalytics.com
       - sudo su - tetinstall
       - ssh -o StrictHostKeyChecking=no -o Compression=yes -o PreferredAuthentications=publickey orchestrator-2
    - shell_command:
       - ssh -o StrictHostKeyChecking=no -o Compression=yes -o PreferredAuthentications=publickey -o ControlMaster=yes tetter@orch-{{CLS}}.tetrationanalytics.com
       - sudo su - tetinstall
       - ssh -o StrictHostKeyChecking=no -o Compression=yes -o PreferredAuthentications=publickey orchestrator-3
  - window_name: Mongos
    panes:
    - shell_command:
       - ssh -o StrictHostKeyChecking=no -o Compression=yes -o PreferredAuthentications=publickey -o ControlMaster=yes tetter@orch-{{CLS}}.tetrationanalytics.com
       - sudo su - tetinstall    
       - ssh -o StrictHostKeyChecking=no -o Compression=yes -o PreferredAuthentications=publickey mongodb-1
       - mongo
       - use tetration_production
       - ''       
    - shell_command:
       - ssh -o StrictHostKeyChecking=no -o Compression=yes -o PreferredAuthentications=publickey -o ControlMaster=yes tetter@orch-{{CLS}}.tetrationanalytics.com
       - sudo su - tetinstall    
       - ssh -o StrictHostKeyChecking=no -o Compression=yes -o PreferredAuthentications=publickey mongodb-2
       - mongo
       - use tetration_production
       - ''       

  - window_name: Coordinator
    panes:
    - shell_command:
       - ssh -o StrictHostKeyChecking=no -o Compression=yes -o PreferredAuthentications=publickey -o ControlMaster=yes tetter@orch-{{CLS}}.tetrationanalytics.com
       - sudo su - tetinstall    
       - ssh -o StrictHostKeyChecking=no -o Compression=yes -o PreferredAuthentications=publickey enforcementcoordinator-1
       - cd /local/logs/tetration/enforcement_coordinator
    - shell_command:
       - ssh -o StrictHostKeyChecking=no -o Compression=yes -o PreferredAuthentications=publickey -o ControlMaster=yes tetter@orch-{{CLS}}.tetrationanalytics.com
       - sudo su - tetinstall    
       - ssh -o StrictHostKeyChecking=no -o Compression=yes -o PreferredAuthentications=publickey enforcementcoordinator-2
       - cd /local/logs/tetration/enforcement_coordinator
    - shell_command:
       - ssh -o StrictHostKeyChecking=no -o Compression=yes -o PreferredAuthentications=publickey -o ControlMaster=yes tetter@orch-{{CLS}}.tetrationanalytics.com
       - sudo su - tetinstall    
       - ssh -o StrictHostKeyChecking=no -o Compression=yes -o PreferredAuthentications=publickey enforcementcoordinator-3
       - cd /local/logs/tetration/enforcement_coordinator

  - window_name: Policystore
    panes:
    - shell_command:
       - ssh -o StrictHostKeyChecking=no -o Compression=yes -o PreferredAuthentications=publickey -o ControlMaster=yes tetter@orch-{{CLS}}.tetrationanalytics.com
       - sudo su - tetinstall    
       - ssh -o StrictHostKeyChecking=no -o Compression=yes -o PreferredAuthentications=publickey enforcementpolicystore-1
       - mongo
       - use enforcement
       - ''
    - shell_command:
       - ssh -o StrictHostKeyChecking=no -o Compression=yes -o PreferredAuthentications=publickey -o ControlMaster=yes tetter@orch-{{CLS}}.tetrationanalytics.com
       - sudo su - tetinstall    
       - ssh -o StrictHostKeyChecking=no -o Compression=yes -o PreferredAuthentications=publickey enforcementpolicystore-2
       - mongo
       - use enforcement
       - ''
    - shell_command:
       - ssh -o StrictHostKeyChecking=no -o Compression=yes -o PreferredAuthentications=publickey -o ControlMaster=yes tetter@orch-{{CLS}}.tetrationanalytics.com
       - sudo su - tetinstall    
       - ssh -o StrictHostKeyChecking=no -o Compression=yes -o PreferredAuthentications=publickey enforcementpolicystore-3
       - mongo
       - use enforcement
       - ''

  - window_name: collectors
    panes:
    - shell_command:
       - ssh -o StrictHostKeyChecking=no -o Compression=yes -o PreferredAuthentications=publickey -o ControlMaster=yes tetter@orch-{{CLS}}.tetrationanalytics.com
       - sudo su - tetinstall    
       - ssh -o StrictHostKeyChecking=no -o Compression=yes -o PreferredAuthentications=publickey collectordatamover-1
       - iostat
    - shell_command:
       - ssh -o StrictHostKeyChecking=no -o Compression=yes -o PreferredAuthentications=publickey -o ControlMaster=yes tetter@orch-{{CLS}}.tetrationanalytics.com
       - sudo su - tetinstall    
       - ssh -o StrictHostKeyChecking=no -o Compression=yes -o PreferredAuthentications=publickey collectordatamover-2
       - iostat
    - shell_command:
       - ssh -o StrictHostKeyChecking=no -o Compression=yes -o PreferredAuthentications=publickey -o ControlMaster=yes tetter@orch-{{CLS}}.tetrationanalytics.com
       - sudo su - tetinstall    
       - ssh -o StrictHostKeyChecking=no -o Compression=yes -o PreferredAuthentications=publickey collectordatamover-3
       - iostat
    - shell_command:
       - ssh -o StrictHostKeyChecking=no -o Compression=yes -o PreferredAuthentications=publickey -o ControlMaster=yes tetter@orch-{{CLS}}.tetrationanalytics.com
       - sudo su - tetinstall    
       - ssh -o StrictHostKeyChecking=no -o Compression=yes -o PreferredAuthentications=publickey collectordatamover-4
       - iostat

  - window_name: zookeepers
    panes:
    - shell_command:
       - ssh -o StrictHostKeyChecking=no -o Compression=yes -o PreferredAuthentications=publickey -o ControlMaster=yes tetter@orch-{{CLS}}.tetrationanalytics.com
       - sudo su - tetinstall    
       - ssh -o StrictHostKeyChecking=no -o Compression=yes -o PreferredAuthentications=publickey zookeeper-1
       - /usr/hdp/2.6.5.0-292/zookeeper/bin/zkCli.sh || /usr/hdp/2.6.5.0-292/zookeeper/bin/zkCli.sh
       - ''
    - shell_command:
       - ssh -o StrictHostKeyChecking=no -o Compression=yes -o PreferredAuthentications=publickey -o ControlMaster=yes tetter@orch-{{CLS}}.tetrationanalytics.com
       - sudo su - tetinstall    
       - ssh -o StrictHostKeyChecking=no -o Compression=yes -o PreferredAuthentications=publickey zookeeper-2
       - /usr/hdp/2.6.5.0-292/zookeeper/bin/zkCli.sh || /usr/hdp/2.6.5.0-292/zookeeper/bin/zkCli.sh
       - ''
    - shell_command:
       - ssh -o StrictHostKeyChecking=no -o Compression=yes -o PreferredAuthentications=publickey -o ControlMaster=yes tetter@orch-{{CLS}}.tetrationanalytics.com
       - sudo su - tetinstall    
       - ssh -o StrictHostKeyChecking=no -o Compression=yes -o PreferredAuthentications=publickey zookeeper-3
       - /usr/hdp/2.6.5.0-292/zookeeper/bin/zkCli.sh || /usr/hdp/2.6.5.0-292/zookeeper/bin/zkCli.sh
       - ''

  - window_name: appservers
    panes:
    - shell_command:
       - ssh -o StrictHostKeyChecking=no -o Compression=yes -o PreferredAuthentications=publickey -o ControlMaster=yes tetter@orch-{{CLS}}.tetrationanalytics.com
       - sudo su - tetinstall    
       - ssh -o StrictHostKeyChecking=no -o Compression=yes -o PreferredAuthentications=publickey appserver-1
       - cd /local/logs/tetration/tim
    - shell_command:
       - ssh -o StrictHostKeyChecking=no -o Compression=yes -o PreferredAuthentications=publickey -o ControlMaster=yes tetter@orch-{{CLS}}.tetrationanalytics.com
       - sudo su - tetinstall    
       - ssh -o StrictHostKeyChecking=no -o Compression=yes -o PreferredAuthentications=publickey appserver-2
       - cd /local/logs/tetration/tim

  - window_name: launcherHost
    panes:
    - shell_command:
       - ssh -o StrictHostKeyChecking=no -o Compression=yes -o PreferredAuthentications=publickey -o ControlMaster=yes tetter@orch-{{CLS}}.tetrationanalytics.com
       - sudo su - tetinstall    
       - ssh -o StrictHostKeyChecking=no -o Compression=yes -o PreferredAuthentications=publickey launcherhost-1
       - ''
    - shell_command:
       - ssh -o StrictHostKeyChecking=no -o Compression=yes -o PreferredAuthentications=publickey -o ControlMaster=yes tetter@orch-{{CLS}}.tetrationanalytics.com
       - sudo su - tetinstall    
       - ssh -o StrictHostKeyChecking=no -o Compression=yes -o PreferredAuthentications=publickey launcherhost-2
       - ''
    - shell_command:
       - ssh -o StrictHostKeyChecking=no -o Compression=yes -o PreferredAuthentications=publickey -o ControlMaster=yes tetter@orch-{{CLS}}.tetrationanalytics.com
       - sudo su - tetinstall    
       - ssh -o StrictHostKeyChecking=no -o Compression=yes -o PreferredAuthentications=publickey launcherhost-3
       - ''

  - window_name: happobats
    panes:
    - shell_command:
       - ssh -o StrictHostKeyChecking=no -o Compression=yes -o PreferredAuthentications=publickey -o ControlMaster=yes tetter@orch-{{CLS}}.tetrationanalytics.com
       - sudo su - tetinstall    
       - ssh -o StrictHostKeyChecking=no -o Compression=yes -o PreferredAuthentications=publickey happobat-1
       - cd /local/logs/tetration/adhocsched
       - tail -F current

    - shell_command:
       - ssh -o StrictHostKeyChecking=no -o Compression=yes -o PreferredAuthentications=publickey -o ControlMaster=yes tetter@orch-{{CLS}}.tetrationanalytics.com
       - sudo su - tetinstall    
       - ssh -o StrictHostKeyChecking=no -o Compression=yes -o PreferredAuthentications=publickey happobat-2
       - cd /local/logs/tetration/adhocsched
       - tail -F current

  - window_name: DruidCoord
    panes:
    - shell_command:
       - ssh -o StrictHostKeyChecking=no -o Compression=yes -o PreferredAuthentications=publickey -o ControlMaster=yes tetter@orch-{{CLS}}.tetrationanalytics.com
       - sudo su - tetinstall    
       - ssh -o StrictHostKeyChecking=no -o Compression=yes -o PreferredAuthentications=publickey druidcoordinator-1
       - ''       
    - shell_command:
       - ssh -o StrictHostKeyChecking=no -o Compression=yes -o PreferredAuthentications=publickey -o ControlMaster=yes tetter@orch-{{CLS}}.tetrationanalytics.com
       - sudo su - tetinstall    
       - ssh -o StrictHostKeyChecking=no -o Compression=yes -o PreferredAuthentications=publickey druidcoordinator-2
       - ''       

